{% extends 'main.html'%}
{% block content %}
<style>
	.contact-container{
		display: grid;
		grid-template-columns:1fr 1fr 1fr ;
	}
</style>
<h3>My Hub</h3>
<div class="contact-container">
	<div>
		<h3>Blog</h3>
		<div>
			<ul>
				<li>Blog 1</li>
				<li>Blog 1</li>
				<li>Blog 1</li>
			</ul>
		</div>
		
	</div>
	<div>
		<h3>Jounals</h3>
		<div>
			<ul>
				<li>Blog 1</li>
				<li>Blog 1</li>
				<li>Blog 1</li>
			</ul>
		</div>
		
	</div>
	<div>
		<h3>Student Center</h3>
		<div>
			<ul>
				<li>C++</li>
				<li>Java</li>
				<li>R </li>
			</ul>
		</div>

	</div>
	
	
</div>


{% endblock content %}